version: '3.5'

services:
    mongo:
        image: mongo
        container_name: mongoSecondLife
        ports:
        - "8081:8081"
        networks:
            dev:
                ipv4_address: 10.107.0.20

    mongo_seed:
        container_name: mongo_seed
        build: 
            context: .
            dockerfile: mongoDockerFile
        networks:
            - dev
        depends_on:
            - mongo

    node:
        container_name: nodeSecondLife
        build: 
            context: .
            dockerfile: nodeDockerFile
        command: npm run dev
        ports:
            - "7707:7707"
        networks:
            dev:
                ipv4_address: 10.107.0.21
        depends_on:
            - mongo
                
networks:
    dev:
        ipam:
            driver: default
            config:
                - subnet: 10.107.0.1/24


                
